<!--Ceci est un projet scolaire pour mettre en place une base de données pour les projets de location de voitures-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>projet de location de voiture</title>
    <link rel="stylesheet" href="static/css/team.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/png" href="static/images/favicon.png">

</head>

<body>
    <div class="title">
        <h1>Notre Équipe</h1>
        <p>Nos membres s’impliquent corps et âme dans ce qui les passionne le plus : la performance. <br> Notre équipe valorise le respect mutuel et les relations durables, et nous espérons que vous partagez notre vision. <br> nous sommes fiers de vous présenter notre famille d'étudiants travaillant sur ce projet!</p>
    </div>

    <div class="team-row">
        
        <div class="profile notmine">
            <h4>elmaghraoui<br>ayoub</h4>
            <img src="static/images/jjjjkkk.jpg" alt="AYOUB">
            <div class="social">
                <a href="https://www.linkedin.com/in/ayoub-elmaghraoui-4a6481243/" target="_blank"><i class="fa fa-linkedin"></i></a>
            </div>
            <p>"La vie non examinée ne vaut pas la peine d'être vécue."</p>
        </div>

        <div class="profile notmine">
            <h4>chourafa<br>simo</h4>
            <img src="static/images/profile.png" alt="SIMO">
            <div class="social">
               
                <i class="fa fa-instagram"></i>
                <i class="fa fa-linkedin"></i>
            </div>
            <p>"C'est à force de forger qu'on devient forgeron."</p>
        </div>

        <div class="profile">
            <h4>AIT<br>lekraichi<br>YOUSSEF</h4>
            <img src="static/images/profile.png" alt="YOUSSEF">
            <div class="social">
            </div>
            <p>"Faites-le fonctionner, faites-le bien, faites-le vite."</p>
        </div>

        
    </div>

</body>

</html>